h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
i,
label {
    font-family: 'Maven Pro', sans-serif;
}

.clear-line{
    clear: both;
}

.hiTextWrapper {
    padding: 1.2em;
    text-align: center;
}

.sayHi {
    color: #708090;
    font-weight: 100;
    font-size: 2em;
    line-height: 1.25
}

.sayHi::after {
    content: " |-";
}

.container {
    padding: 30px;
}

.me{
    padding: 5px;
    border: solid 1px #EFEFEF;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

.box {
    /* margin: 10px; */
    color: #fff;
    /* height: 160px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 300px;
    justify-content: center;
    text-align: center;
    padding: 2em;
    margin: 1.2em;
    border-radius: .5em;
}

.box>a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.box>a>svg, .box>a>img {
    width: 4em;
    fill: #fff;
    margin-bottom: 2em;
}

.github {
    background-color: #181717
}

.linkedin {
    background-color: #0077b5
}

body{
    font-size: 16px !important;
}

.instagram {
    background-color: #e4405f
}

.playstore {
    background-color: #FFFFFF;
    border: 1px solid #689f38;
    color: #689f38 !important;
}

.playstore > a > i {
    text-decoration: none;
    color: #689f38;
    display: block;
}

.playstore>a>p {
    text-decoration: none;
    color: #708090;
    display: block;
}

.playstore>a>p>b{
    color: #689f38;
}


.with_love {
    color: #e4405f;
}

.footer-text {
    text-align: right;
}