/* body {
    font-size: 16px !important;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
i,
label {
  src: local(sans-serif),
    url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);
  font-display: auto;
}


.hiTextWrapper {
  padding: 1.2em;
  text-align: center;
}

.sayHi {
  color: #708090;
  font-weight: 100;
  font-size: 2em;
  line-height: 1.25;
}
.sayHi::after {
  content: " |-";
}
.sayHi::before {
  content: "-| ";
}


.with_love {
  color: #e4405f;
}

.languages {
  padding: auto;
  align-content: center;
}

.languages svg {
  max-width: 3.5em;
  padding: 10px;
}

.project:hover div {
  background-color: #f8f9fa;
}

.direct-link {
  text-decoration: none;
}