body {
    font-size: 16px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
i,
label {
    font-family: 'Maven Pro', sans-serif;
}

.clear-line {
    clear: both;
}

.hiTextWrapper {
    padding: 1.2em;
    text-align: center;
}

.sayHi {
    color: #708090;
    font-weight: 100;
    font-size: 2em;
    line-height: 1.25;
}
.sayHi::after { content: " |-"; }
.sayHi::before { content: "-| "; }


.container {
    padding: 50px;
}

.me {
    padding: 5px;
    border: solid 1px #EFEFEF;
}

.boxes {
    display: grid;
}

.box {
    padding: 1.2em;
    margin: 1.5em;
    border-radius: .5em;

}

.box a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.box a:hover .fab {
  animation: example .2s forwards;
}

@keyframes example {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
  }

.box span a {
    color: #c9c9c9;
    line-height: 2rem;
}

.box span a:hover {
    color: #fff;
}

.github {
    background-color: #181717;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1 / 4;
}

.linkedin {
    background-color: #0077b5;
    grid-column: 3;
    grid-row: 1;

}


.instagram {
    background-color: #e4405f;
    grid-column: 3;
    grid-row: 2;
}

@media (min-width: 320px) and (max-width: 480px) {
    .github {
        background-color: #181717;
        grid-column: 1;
        grid-row: 1;
    }
    .linkedin {
        background-color: #0077b5;
        grid-column: 1;
        grid-row: 2;
    }
    .instagram {
        background-color: #e4405f;
        grid-column: 1;
        grid-row: 3;
    }
}

.with_love {
    color: #e4405f;
}

.footer-text {
    text-align: right;
}