<html>

<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115194738-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-115194738-1');
	</script>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Agon A. Gashi - Contact</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/shards-ui@2.0.3/dist/css/shards.min.css">
	<link rel="stylesheet" href="./contact.css">
</head>

<body>
<div class="navbar navbar-dark bg-dark fixed-top py-1">
	<a href="./../../index.html" class="btn btn-sm btn-dark col-md-2"> < Back to Homepage </a>
</div>
	<div class="row m-0 content-wrapper">
		<section id="mailForm" class="col-md-6 offset-md-3 my-auto">
			<form action="https://formspree.io/agonxgashi@gmail.com" method="POST">

				<div class="row">
					<div class="col-md-6">
						<input class="form-control" type="text" name="name" placeholder="Subject" required>
						<br>
					</div>

					<div class="col-md-6">
						<input class="form-control" type="email" name="_replyto" placeholder="Your Email" required>
						<br>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<textarea class="form-control" name="_message" rows="5" placeholder="Message..." required></textarea>
						<br>
					</div>
				</div>
				<input type="hidden" name="_next" value="./../../index.html" />
				<input type="text" name="_gotcha" style="display:none" />
				<input class="btn btn-block btn-outline-primary" type="submit" value="Send">
			</form>
		</section>
	</div>
</body>
</html>