<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Agon A. Gashi - Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
</head>
<body>
    <form action="https://send.pageclip.co/VlJH0Q3u8lx7RFTmcks8MnNTpL0Sl62W/Contact" class="pageclip-form" method="post">
        
        <input type="email" name="email" placeholder="roscoe@example.com" />
        <input type="text" name="subject" placeholder="A contact subject" />
        <textarea name="message" cols="30" rows="10" placeholder="Message"></textarea>
        
        <button type="submit" class="pageclip-form__submit">
          <span>Send</span>
        </button>
      </form>
</body>
</html>